{% extends 'base.html'%}

<!--С помощью конструкции супер, частично перезаписываем блок из базового шаблона -->
{% block menu %}
    {{ super() }}
    <a href="#">Contact</a>
    <a href="/news">News</a>
{% endblock %}


<!-- Перезаписываем блок из базового шаблона полностью -->
{% block content %}
    <h1>Home Page</h1>
    <p>Hello, Jinja!</p>
    <hr>
    <form action="" method="post">
        <p>
            <label for="message">{{ message }}</label><br>
            <input type="text" name="message">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}